<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    </title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/SR_style.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <div class="offcanvas offcanvas-start bg-dark" id="SideMenu">
        <div class="offcanvas-header">
            <h1 class="offcanvas-title">SideMenu</h1>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <nav class="navbar bg-dark navbar-dark">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'weapon_index' %}">Our Guns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'visit_booking' %}">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'get_prices' %}">Price List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'leave_message' %}">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="container-fluid wrapper">
        <div>
            <button class="hamburger animated fadeInLeft is-closed" type="button" data-bs-toggle="offcanvas" data-bs-target="#SideMenu">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10 offset-sm-1 offset-md-2 offset-lg-1">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="text-center text-white bg-dark mt-auto">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © <span id="current-year"></span> Copyright:
            <a class="text-white" href="{% url 'home' %}">ShootingRange.com</a>
        </div>
    </footer>

    <script>
        const year = new Date().getFullYear();
        document.getElementById('current-year').textContent = year;
    </script>

</body>
</html>
