{% extends "base.html" %}
{% block content %}

<div class=" container-fluid mt-5">
    <h4><b>Company Address</b></h4>
    <p><h6>Shooting Under the Tree</h6></p>
    <p><h6>WonderStrasse 1234, 000 01 Wonderland</h6></p>
    <h4><b>Phone number</b></h4>
    <p><h6>+123 456 789 123</h6></p>
</div>

<div class=" container-fluid pb-3 mt-3">
    <h2>Leave us the message:</h2>
    <form id="ContactForm" method="post" action="." novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% if field.errors %}
            <div class="error-msg">
                {% for error in field.errors %}
                <span class="error">{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            <p>{{ field }}</p>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-secondary">Submit</button>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                <strong>Thank You!</strong> {{ message }}
            </div>
    {% endfor %}
{% endif %}

{% endblock content %}